body{
    background-color:#dafaf2;;
}
hr{
    
    border-style: none;
    width: 10%;
    border-top-style:  dotted;
    border-color: grey;
    border-width: 5px;
}
h1 {
    color: #41c3c3;
  }

h3 {
    color: #41c3c3;
  }
